<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1">
		<title>添加心愿机器人</title>
		<link rel="shortcut icon" type="image/x-icon" href="/images/logo.jpg">
		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="/css/wishlist.css" />
	</head>

	<body>
		<div class="container">

			<div class="start-info">
				<img src="/images/start-info.jpg"/>
				<img src="/images/first.png"/>
			</div>
			<div class="wx-robot">
				<img src="/images/wx-robot.png"/>
				<p>注意：申请信息填写<em>”wishlist”</em>或<em>“愿望列表”</em><br/>
					机器人自动加您为好友</p>
			</div>
			
		</div>
	</body>

</html>