<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1">
		<title>微信登录</title>
		<link rel="shortcut icon" type="image/x-icon" href="/images/logo.jpg">
		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="/css/wishlist.css" />
	</head>

	<body>
        <div style="text-align: center;margin-top: 100px;">
            <iframe src="<%= qrcode_url%>" width="500" height="500" frameborder="0">			
            </iframe>
        </div>
	</body>

</html>